@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1, h3, p {
    color: black;
    margin-top: 1%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h4{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding: 3px;
    display: block;
}
h2{
    display: block;
    text-transform: capitalize;
    margin: 10px;
}
body{
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b32cbe 0%, #fc575e 74%);    
    height: 100vh; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: medium;
}
.cart{
    width: 40px;
    height: 40px;
}
.nav-bar-div{
    display: inline;
    font-size: 22px;
    color: white;
}
.drop:hover{
    background-color: #0bab64;
}
.drop{
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
#notification-modal{
    background-color: #212529;
    position: relative;
    border-radius: 10px;
    margin: auto;
    color: white;
    text-shadow:#212529 1px 1px;
    top: 40%;
    width: 13vw;
    height: 50px;
    border: 2px solid #0bab64;
    text-align: center;
    padding: 6px;
    animation: wobble 2s infinite linear; 
    transition: all 0.5s ease;
}
.modal-fruit{
    top: 10%;
    width: 300px;
    height: 300px;
    position: fixed;
    left: -410px;
    transition: all 1s ease-in-out;
}
#out-open-close-modal{
    position: relative;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 155, 0);
    color: wheat;
    box-shadow: black 2px 2px;
    left: 320px;
    top: 60%;
    transform: rotate(90deg);
}
.moveLeft{
    left: 10px;
}
.hide{
    opacity: 0;
}
#modalInput{
    font-size: 12px;
    background-color: white;
    height: 30px;
    position: relative;
    border-radius: 5px;
}
#delBtn{
    top: 30%;
    position: relative;
    height: 40px;
    border-radius: 10px;
    color: wheat;
    background-color: rgb(0, 155, 0);
    box-shadow: black 2px 2px;
}
#sendBtn{
    height: 40px;
    position: relative;
    border-radius: 10px;
    color: wheat;
    background-color: rgb(0, 155, 0);
}
#imgBox{
    display: contents;
}

#imgBox img{
    width: 50px;
    height: 50px;
    position: relative;
    left: 10%;
}
.imagenes{
    animation: grow 2s infinite;
}

#fruitBox{
    border: 1px solid #212529;
    top: 50%;
    background-color: #212529;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);     width: 400px;
    height: 500px;
    position: absolute;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: black 3px 3px;
}

.addBtn{
    position: relative;
    left: 45%;
    margin: 5px;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    color: wheat;
    background-color: rgb(0, 155, 0);
    box-shadow: black 2px 2px;
}

#shopCart {
    min-width: 220px;
    padding: 5px;
    width: 100%;
    height: 480px;
    border: 1px solid #212529;
    background-color: #212529;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);     
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 25%;
    box-shadow: black 2px 2px;
}

#vaciarCarro{
    height: 40px;
    position: absolute;
    border-radius: 10px;
    color: wheat;
    background-color: rgb(0, 155, 0);
    box-shadow: black 2px 2px;
    top: 170%;
}
#open-close-cart{
    top: 30%;
    height: 40px;
    position: relative;
    border-radius: 10px;
    color: wheat;
    background-color: rgb(0, 155, 0);
    box-shadow: black 2px 2px;
    left: -65px;
}
.contenedor-carro{
    width: 200px;
    height: 350px;
    position: sticky;
    left: 84%;
    top: 2%;
    transition: all 0.5s ease-in-out;
}
#shopCart .imagenesShop{
    width: 70px;
    height: 70px;
    position: relative;
    margin: 0;
    transition: transform 0.2s;
    left: 10px;
}
.imagenesShop:hover{
    transform: rotate(360deg)
}
.imgSize{
    width: 90px;
    height: 90px;
    position: relative;
    left: 90%;
    animation: rotation 1.5s infinite linear;    
}
#animacion-box{
    position: fixed;
    left: 25%;
    top: 45%;
}

.precioShop{
    text-align: end;
    margin: 15px;
    color: white;
    font-weight: 700;
}

#precioTotal{
    padding: 5px;
    width: 140px;
    height: 40px;
    position: absolute;
    left: 70px;
    top: 170%;
    color: white;
    font-weight: 700;
    text-shadow: #212529 1px 1px;
    background-color: #0bab64;
    box-shadow: black 2px 2px;
    border-radius: 10px;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
  }

@keyframes rotation {
    from {
        opacity: 1;
        left: 90%;
        transform: rotate(0deg);
    }
    to {
        opacity: 0.5;
        left: 0;
        transform: rotate(600deg);
    }
  }

@keyframes wobble {
    0%{
        transform: rotate(-6deg) scale(1);
    } 
    25% {
        transform: rotate(12deg) scale(1.4);
    }
    50% {
        transform: rotate(-10deg) scale(1.6);
    }
    75% {
        transform: rotate(10deg) scale(1.4);
    }
    100% {
        transform: rotate(-6deg) scale(1);
    }
  }
  
/*Scroll customizado*/
::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    box-shadow: grey 1px 1px; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: rgba(94, 190, 150, 0.884); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 114, 22); 
    border-radius: 10px;
  }